body {
background-image: url('./images/Background-croped.png');
background-attachment: fixed;
background-size: cover;
}
nav {
background-color: #15151D;
}

.card-header {
    background-color: #3a82e4;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

a {
color: #15151D;
}
a:hover{
color:#3A82E4; 
;
}

.btn-primary {
    background-color: #3a82e4;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
