/* CAROUSEL */
@keyframes zoomin {
    from {
      transform: scale(1, 1);
    }
    to {
      transform: scale(1.1, 1.1);
    }
  }
  
  .slider-size {
    height: 100vh; /* Carousel height */
    animation: zoomin 20s infinite alternate;
  }
  
  .carousel {
    width:100%; 
    margin:0 auto; 
  }
  
  .carousel-caption {
    transform: translateY(-33%);
    bottom:0;
    top:50%;
  }
  
  .titre-carousel{
    font-family: 'Raleway','Arial';
    color: #3A82E4;
    font-size: 25px;
    font-weight: 400;
  
    background: #fff;
    opacity: .8;
    box-shadow: none;
    border-width: 0;
    border-style: solid;
    border-color: #000;
    border-color: RGBA(0,0,0,1);
    border-radius: 0;
    padding: 3%;
  }
  
  .texte-carousel{
    font-family: 'Raleway','Arial';
    color: #fff;
    font-size: 137.5%;
    text-shadow: none;
    line-height: 1;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 2px;
    word-spacing: normal;
  
    background: RGBA(0,0,0,.8);
    opacity: 1;
    padding: .8em 1em .8em 1em;
    box-shadow: none;
    border-width: 0;
    border-style: solid;
    border-color: RGBA(0,0,0,1);
    border-radius: 0;
    padding: 3%;
  }


  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    background-image: none;
  }
  
  .carousel-control-next-icon:after
  {
    content: '>';
    font-size: 55px;
    color: white;
  }
  
  .carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: white;
  }

  ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
  }
  
  ol.carousel-indicators li,
  ol.carousel-indicators li.active {
    float: left;
    width: 33%;
    height: 10px;
    margin: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
  }
  
  ol.carousel-indicators li.active {
    background: #3A82E4;
    box-shadow: 0px 2px 2px black;
  }
  