@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');


body {
  font-size: 1rem;
}
  
/* FIX: navbar fixed-top so our content doesn't goes under */
main {
  margin-top: 56px;
}

h1 {
  font-size: 2em;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #3A82E4;
}

.btn-rounded {
  border-radius: 15px;
}

.numbers {
  width: 2%;
}


/* Section Internet for everyone */
@keyframes zoomout {
  from {
    transform: scale(1.1, 1.1);
  }
  to {
    transform: scale(1, 1);
  }
}

.internet-for-everyone {
  width: 100%;
  background-image: url('./images/map-transparent.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #2b72d6;
  animation: zoomout 20s infinite alternate;
}

.h1-everyone {
  color: white;
  font-family: 'Hind',Helvetica,Arial,sans-serif;
  font-size: 2em;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: white;
}